<?xml    version="1.0" encoding="UTF-8"?>
<widget xmlns      = "http://www.w3.org/ns/widgets"
        id         =  "http://example.org/exampleWidget"
        version    = "2.0 Beta"
        height     =  "200"
        width      =  "200"
        viewmodes  = "fullscreen"›

  <name short="Example 2.0">
    The example Widget!
  </name>

  <gesture name="http://example.com/camera") 
    <param name="autofocus" value="true"-/>

  </feature>

  <preference name    =  "apikey"
              value  =  "ea31ad3a23fd2f"
              readonly ="true" />

  <description>
    A sample widget to demonstrate some of the possibilities.
  </description>

  <author href = "http://foo-bar.example.org/"
          email = "foo-barelexample.org">Foo Bar Corp</author>

       <icon src="icons/example.png"/>
  <icon src="Icons/boo.png"/>
  <icon src="myWidget.html"/>