<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Shooping List</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/angular.css" />
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="angular.min.js"></script>
<script src="controller.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

<!--<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">-->

</head>



<body>
 

<div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl" class="w3-card-2 w3-margin" style="max-width:2500px;">

<div ng-app="myShoppingList" ng-controller="myCtrl" class="w3-card-2 w3-margin">


<button ng-click="myFunc()">Show/Hide Menu</button>

<div ng-show="showMe">
    <h1>Today's Menu:</h1>
    <form>
  Pick a topic:
  <input type="radio" ng-model="myVar" value="dogs">Breakfast
  <input type="radio" ng-model="myVar" value="tuts">Lunch
  <input type="radio" ng-model="myVar" value="cars">Dinner
</form>

<div ng-switch="myVar">
  <div ng-switch-when="dogs">
     <h1>Breakfast</h1>
     <p>Let's make a Breakfast's list.</p>
  </div>
  <div ng-switch-when="tuts">
     <h1>Lunch</h1>
     <p>Let's make a Lunch's list.</p>
  </div>
  <div ng-switch-when="cars">
     <h1>Dinner</h1>
     <p>Let's make a Dinner's list.</p>
  </div>
</div>
</div>

</div>


<div ng-hide="myCheck"></div>
  <header class="w3-container w3-indigo w3-padding-16">

  <div class="form-right-col">
       
        <label>Notes:</label>
        <textarea id="description" name="description">Resize me </textarea>
    </div>

    <h3><center><i class="fa fa-list-alt"></i> My Shopping List </center></h3> 
   <center> <img src="img/shopping-list.jpg"  class="img-responsive" alt="Cinque Terre"></center>
    

  </header>
  <ul class="w3-ul">
    <li ng-repeat="x in products " class="w3-padding-16 w3-yellow">{{x}}<span ng-click="removeItem($index) " style="cursor:pointer;" class="w3-right w3-margin-right" >×</span></li>

  </ul>
  <div class="w3-container w3-indigo w3-padding-16">
    <div class="w3-row w3-margin-top">
      <div class="w3-col s10">
        
        <form>
   <center><i class="fa fa-shopping-cart"></i> Add shopping items here: <input placeholder ng-model="addMe" ></center>
  </form>
      </div>
      
    </div>
    <div ng-app="" ng-init="quantity=1;price=5">

<center><i class="fa fa-check-square-o"></i> Quantity: <input type="number"  ng-model="quantity">
<i class="fa fa-money"></i> Costs:    <input type="number" ng-model="price">
 <p class="w3-padding-left w3-text-yellow" >Total price : {{ quantity * price }} €</p>

</div><div class="w3-col s2">
        <button ng-click="addItem()"  class="w3-btn w3-padding w3-deep-orange"><i class="fa fa-plus-square-o"></i> Add</button>

      </div>
    <p class="w3-padding-left w3-text-red">{{errortext}}</p></center>
  
  </div>

</div>

</html>